html {
    font-family: Roboto;
}

header {
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.title {
    text-align: center;
    font-size: 144px;
    text-transform: uppercase;
    /* border: 1px solid salmon; */
    margin: 0;
    line-height:0.9;
    font-weight: 900;
    font-style:italic;
    letter-spacing: -0.07%;
    text-shadow: 4px 4px rgb(255, 74, 201);
}

div.info {
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    padding: 20px;
    background-image: url("https://lh6.ggpht.com/-cXg1IbQWCOY/UkQUVtcrfhI/AAAAAAAAs4c/bhH-b6HHDTE/painted-ladies-5%25255B5%25255D.jpg?imgmax=800");
    background-size: cover;
    height: 100%;
}

ul { 
    list-style-type: none;
    padding: 0;
}

h1 {
    max-width: 40%;
    margin-left: auto;
    color: white;
    text-indent: -1em;
    text-transform: uppercase;
}

.letter-d {
   font-family: sans-serif;
   color:rgb(25, 82, 20)

}
.letter-o {
    font-family: sans-serif;
    color:rgb(25, 82, 20)
 
 }
 .letter-u {
    font-family: sans-serif;
    color:rgb(25, 82, 20)
 
 }
 .letter-b {
    font-family: sans-serif;
    color:rgb(25, 82, 20)
 
 }
 .letter-l {
    font-family: sans-serif;
    color:rgb(25, 82, 20)
 
 }
 .letter-e {
    font-family: sans-serif;
    color:rgb(25, 82, 20)
 
 }