body {
    font-family: 'Crimson Pro', serif;
    font-family: 'Noto Serif Display', serif;
    font-size: 36px;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    font-size: 42px;
    margin: 0;
    padding-left: 20px;
    font-family: 'Crimson Pro', serif;
    font-family: 'Noto Serif Display', serif;
    font-style: Bold;
    background-color: rgb(197, 197, 248);
      height: 10%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  
  .entries {
    margin-bottom: 60px;
  }
  
  .heading {
    margin-bottom: 60px;
  }
  
  .chapter {
    font-weight: 900px;
    font-size: 100px;
  }
  
  p {
    margin: 0;
    /* margin-left: 10em;
    margin-right: 10em; */
  }
  
  .page {
    margin-top: 10px;
  }
  
  span {
    display: block;
  }