body {
    padding: 50px;
}
.popup  {
    color: blue;
    cursor: pointer;
    display: inline;
    position: relative;
}

.popup:hover {
    color: black;
}

.wrapper {
    max-width: 600px;
    font-size: 21px;
    line-height: 1.2;
}

.annotation-fix  {
    border: 2px solid;
    box-shadow: 2px 6px 9px 0 rgba(0,0,0,0.20);
    background-color: white;
    position: absolute;
    top: 10px;
    left: -10px;
    border-radius: 10px;
    text-align: center;
    line-height: 1.1;
    opacity: 0;
    width: 600px;
}

.annotation-fix {
    padding: 20px;
    opacity: 1;
    z-index: 1;
}


/* 
#overlay{
    display:  none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}

#show-modal-btn{
    background-color: grey;
    display: inline-block;
}

.description{
    

    position: relative; 
    top: 50%;
    transform: translateY(-50%);

    
    vertical-align: middle;
    
}

#modal{
    max-width: 600px;
    height:  300px;
    margin: auto;
    background-color: pink;
    position:  absolute;

    text-align: center;
    


    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.website-content{
    height: 1000vh;
} */