
body {
  font-family: 'Crimson Pro', serif;
  font-family: 'Noto Serif Display', serif;
  font-size: 36px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}


h1 {
  font-size: 36px;
  font-weight:bold;
  margin: 0;
}

.entries {
  margin-bottom: 60px;
}

.heading {
  margin-bottom: 60px;
}

.chapter {
  letter-spacing: 30px;
  font-weight: bold;
}

p {
  margin: 0;
  /* margin-left: 10em;
  margin-right: 10em; */
}

.page {
  margin-top: 10px;
}

span {
  display: block;
}